  /* body{
    background-color: darkgray;
} */

.h1{
    color: burlywood;
}


.back{
  background-image: url('/pictures/sneakers.jpg');
    padding: 10px;
}

header{
  background-color: darkslategray;
  padding: 10px;
 }

footer{
    background-color: darkslategray;
    padding: 10px;
   }

   .button-primary{
       color: darkseagreen;
       font-size: large;
       background-color: darkslategrey;
   }

   .clothing{
        margin: 1em;
      overflow: hidden;
   }

   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .texts{
    text-align: center;
  }

  button{
    color: black;
    background-color:darkslategrey;
    border-radius: 14px;
    font-size: 20px;
    border: none;
    padding: 12px 20px;
    
  }
  button:hover{
    background-color: darkorchid;
    color: darkseagreen;
  }

  .cashMoni{
    padding: 30px;
  }

  .payment img{
    width: 10%;
    height: 10%;
    background-color: darkslategrey;
    
  } 

  .enquiry{
    text-align: center;
  }
 

  /* * {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
} */
/* mm */


@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: white;
    color: #555;
    font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.logo-black{
  width: 10%;
  height: 10%;
}

.contact{
  width: 5%;
  height: 5%;
}
/* 
.header{
  background-image: url('/pictures/images.jpg');
} */


/*----------------BUTTONS--------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 100px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #6821eb;
    border: 1px solid #6821eb;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #6821eb;
    color: #6821eb;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #6821eb;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #6821eb;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #6821eb;
    color: #fff;
}


/*RESUABLES*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/* HEADING */

.heading,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 300;
}

.heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 200%;
    color: rgb(90, 175, 126);
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15%;
    letter-spacing: 1px;
}


h2:after {
    display: block;
    height: 2px;
    background-color: #6821eb;
    content: " ";
    width: 100px;
    margin: 30px auto 0px auto;
}